<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="http://localhost:1337/css/Home.css"> 
        <link rel="icon" type="image/x-icon" href="http://localhost:1337/img/fav.png">
        <head>
            <meta charset="UTF-8">
            <title>Home</title>
            <script src="/js/home.js"> </script>

        </head>
        <body>
            <h1>Home</h1>
            <div class="container">
                <div class="post-form" id = "post-form">
                    <h2>New Post</h2>
                    <form>
                        <label for="title">Title:</label>
                        <input type="text" id="title" name="title" required>
                        <label for="description">Description:</label>
                        <textarea id="description" name="description" required></textarea>
                        <input type="submit" value="Post">
                    </form>
                </div>
                <div class="post-list" id="post-list">
                    <h2>Recent Posts</h2>
                    <div id="postForm"></div>

                </div>
            </div>
        </body>
</html>