<!doctype html>
<html>
    <head>
        <title>The Paddock</title>
        <link rel="icon" type="image/x-icon" href="http://localhost:1337/img/fav.png">
        <!--Favicon-->
        <link rel="stylesheet" href="http://localhost:1337/css/welcome.css"> 
    
    </head>
    <body>
        <h1>Welcome to the Paddock</h1>
        <!--<script src="/js/welcome.js"></script>-->
    </body>
    <body>
        <p id="new">First Time on the Track?</p>

    </body>
    <body>
        <p id="noacct">Continue to Site Without an Account</p>
    </body>
    <!--Buttons-->
    <a href="http://localhost:1337/signin" >
        <img id="signin" src="http://localhost:1337/img/signin.png" alt="Sign in">
        </a>
    <a href="http://localhost:1337/signup">
        <img id="signup" src="http://localhost:1337/img/signupbtn.png" alt="Sign Up">
        </a>
    <a href="http://localhost:1337/Home">
        <img id="Continue" src="http://localhost:1337/img/continuebtn.png" alt="Sign in">
        </a>
    
</html>
