<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" href="http://localhost:1337/css/signup.css"> 
        <link rel="icon" type="image/x-icon" href="http://localhost:1337/img/fav.png">

    </head>
    <form id="inputs">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="username">username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">password:</label><br>
        <input type="text" id="password" name="password">

      </form>
   
</html>