<!DOCTYPE html>
<html>
    <head>
        <title>Sign In</title>
        <link rel="stylesheet" href="http://localhost:1337/css/signin.css"> 
        <link rel="icon" type="image/x-icon" href="http://localhost:1337/img/fav.png">
        
    </head>
    <body>
        <h1>Sign In</h1>
        <form>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="Sign In">
        </form>
    </body>
    </html>
</html>