<!DOCTYPE html>
<html>
    <head>
        <title>Sign In</title>
        <link rel="stylesheet" href="http://localhost:1337/css/signin.css"> 
        <link rel="icon" type="image/x-icon" href="http://localhost:1337/img/fav.png">

    </head>
    <form id="inputs">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">password:</label><br>
        <input type="text" id="password" name="password">
      </form>
    

    <body>
        <img src="inputbk.jpg" alt="bkrnd">

    </body>
</html>