body{
    background-image: linear-gradient(to right bottom, #000000, #edd0f2, #3d8a65, #f45a82, #4e1e43);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


#inputs{
    position: absolute;
    top: 200px;
    left: 900px;
    width: auto;
    font-size:20pt;
    height: 900px;
}
