body{
    background-image: linear-gradient(to right bottom, #ffffff, #edd0f2, #f398c9, #f45a82, #db1825);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


#inputs{
    position: absolute;
    top: 200px;
    left: 900px;
    width: auto;
    font-size:20pt;
    height: 900px;
}
