h1{  
    position: fixed;
    top: 270px;
    left: 1250px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 250%;;
    color: #fa0000;
    background-image: -webkit-linear-gradient(105deg, #fa0000 12%,#464444 100%,#ff1212 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    
img{
    position: absolute;
    top: 100px;
    size: 90%;
         }
                
body {
    background-image: url('http://localhost:1337/img/loginback.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: rgb(0, 0, 0);
}